.Process {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img {
  height: 600px;
}
