* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

/* body {
  background-color: beige;
} */

nav {
  background-color: rgb(17, 255, 37);
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 1.8rem;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    text-align: center; 
  }
  nav Link {
    margin: 0.5rem 0; 
  }
}

.nav-link {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  
}
.nav-link:hover {
  color: rgb(227, 239, 241);
}

/* main{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    justify-items: center;
} */

/* Basic styling for the table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c2c3ea;
  margin: 20px 0;
}

/* Styling for table headers */
.styled-table th {
  background-color: hsl(301, 96%, 56%);
  grid: flex;
  padding: 10px;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: white;
  height: 60px;
}

/* Styling for table cells */
.styled-table td {
  padding: 10px;
  border-top: 1px solid #63e757;
  font-size: 19px;
  text-align: center;
}

/* Zebra-striping for better readability */
.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
